<template>
    <div class="wrapper">
        <dashboard-component columns="6" rows="3">
            <member-component></member-component>          
            
            <div class="tile team-music">Team Music</div>
            <div class="tile weather-date">Weather</div>
            <div class="tile upcoming-events">Upcoming</div>
            <div class="tile jenkins-pipeline">Jenkins Stats</div>

            <environment-component></environment-component>   

        </dashboard-component>
    </div>
</template>
<script src="./dashboard-components.ts"></script>