
:root {
    --red-lightest: #fcebec;
    --red-lighter: #e69a9c;
    --red-light: #ff5439;
    --red: #e83134;
    --red-dark: #a32324;
    --red-darker: #63010e;
    --red-darkest: #3d0109;
    --orange-lightest: #ffe5ca;
    --orange-lighter: #f5b180;
    --orange-light: #e77636;
    --orange: #e14a0c;
    --orange-dark: #711f03;
    --orange-darker: #581902;
    --orange-darkest: #391102;
    --yellow-lightest: #f7e8d4;
    --yellow-lighter: #f7d1a1;
    --yellow-light: #f6d169;
    --yellow: #fbbd1a;
    --yellow-dark: #b06f1c;
    --yellow-darker: #734d00;
    --yellow-darkest: #422c00;
    --blue-lightest: #e5f4f8;
    --blue-lighter: #a7dceb;
    --blue-light: #0faace;
    --blue: #13869e;
    --blue-dark: #11727f;
    --blue-darker: #202f53;
    --blue-darkest: #262835;
    --green-lightest: #cce9e5;
    --green-lighter: #bfe3de;
    --green-light: #a9d6d0;
    --green: #5ebbae;
    --green-dark: #40988c;
    --green-darker: #287368;
    --green-darkest: #13463f;
    --gray-lightest: #ededf5;
    --gray-lighter: #cdcdda;
    --gray-light: #afb3bd;
    --gray: #ababbb;
    --gray-dark: #53575e;
    --gray-darker: #23272f;
    --gray-darkest: #1b1e25;
    --color: #fff;
    --dashboard-background-color: var(--gray-darkest);
    --tile-background-color: var(--gray-darker);
}

:root {
    --grid-gap: 1.5vw;
    --grid-padding: 1vw;
    --font-bold: 400;
    --font-bolder: 600;
    --font-boldest: 800;
}

* {
    position: relative;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

*:before,
*:after { box-sizing: inherit; }


.dashboard {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    font-weight: var(--font-weight);
    font-style: normal;
    font-size: var(--font-size-base);
    font-family: var(--font-family);
    background: var(--dashboard-background-color);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: var(--grid-gap);
    grid-auto-rows: minmax(100px, auto);
}

.team-today {
    grid-column: 1 / 1;
    grid-row: 1 / 4;
}

.member-today {
    grid-column: 1 / 1;
    grid-row: 1;
}

.member-info {
   
}
.member-info img {
    border-radius: 50%;
    border: 1 solid #E9E9E9;
    max-height: 27px;
    margin-bottom: 5px;
}

.member-info span {
    color: #457FEC;
    font-family: 'Operator Mono';
    font-weight: var(--font-bold);
    font-size: 15px;
    text-transform: uppercase;   
    margin: 4px; 
}

.member-todo {
    color: #D7E3EE;
}


.upcoming-events {
    grid-column: 2 / 2;
    grid-row: 1 / 4;
}

.environment {
    grid-column: 6 / 6;
    grid-row: 1 / 4;
}

.environment .environment-group {
    color: #95D2F8;
    font-size: 12px !important;
}


.environment-title {
    text-align: center;
    padding-top: 0px;
    font-family: 'Operator Mono';
    font-weight: var(--font-bold);
    font-size: 15px;
    text-transform: uppercase;   
    margin: 4px; 
    color: var(--blue-dark);
}

.environment ul li {
    font-size: 13px;
}
.team-music {
    grid-column: 3 / 5;
    grid-row:  1;
}

.weather-date {
    grid-column: 5 / 5;
    grid-row:  1;
    /* height: 120px; */
}



.jenkins-pipeline {
    grid-column: 3 / 6;
    grid-row: 2 / 4;
    /* height: 400px; */
}


ul { list-style: none; }

h1 {
    margin-bottom: .5em;
    text-transform: uppercase;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-m);
}

h2 { font-weight: var(--font-weight-black); }

li {
    padding: .35vh 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.12);
    margin: 3px;
    margin-bottom: 10px;
}

.tile {
    overflow: hidden;
    padding: var(--grid-padding);
    border-radius: .25vw;
    background-color: var(--tile-background-color);
    color: white;
    text-shadow: 1px 1px 1px var(--tile-background-color);
    margin: 8px;

h1 { color: var(--gray-light); }

}

.tile--overflow:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 1px;
    box-shadow: 0 0 .5em .5em var(--tile-background-color);
    content: '';
}

.tile--above { z-index: 500; }

.tile--blue { --tile-background-color: var(--blue-darker); }

.tile--green { --tile-background-color: var(--green-darker); }

.tile--orange { --tile-background-color: var(--orange); }

.tile--red { --tile-background-color: var(--red); }

.tile--transparent {
    --tile-background-color: var(--dashboard-background-color);

    border: solid 1px var(--tile-background-color);
}

.tile--yellow {
    --tile-background-color: var(--yellow);

    color: black;

}

.tile > * { height: 100%; }

.peek-text {
    font-size: 8px; 
    color:#525757;
}

