<style src="./jenkins-stats.css"></style>
<template>
    <div class="tile jenkins-pipeline">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="well stats-well build-success">
                        <span class="well-center boldered"> 9
                            <i class="fa fa-thumbs-o-up"></i>
                        </span>
                        <h4>Successful</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well stats-well build-aborted">
                        <span class="well-center boldered"> 13
                            <i class="fa fa-warning"></i>
                        </span>
                        <h4>Aborted</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well stats-well build-failed">
                        <span class="well-center boldered"> 9
                            <i class="fa fa-frown-o"></i>
                        </span>
                        <h4>Failed</h4>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
</template>
<script src="./jenkins-stats.ts"></script>