.user-profile{

}



.team-music {
    position: relative;
}

.user-avatar{
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
    z-index: 1000;
    position: absolute;
    top: -200;
}